<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ChangeNotice</servlet-name>
        <servlet-class>ChangeNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostNotice</servlet-name>
        <servlet-class>PostNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudent</servlet-name>
        <servlet-class>RegisterStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveNotices</servlet-name>
        <servlet-class>RemoveNotices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoeUnpostedNotices</servlet-name>
        <servlet-class>ShoeUnpostedNotices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNoticeTypes</servlet-name>
        <servlet-class>ShowNoticeTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNotices</servlet-name>
        <servlet-class>SaveNotices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNotices</servlet-name>
        <servlet-class>ShowNotices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNotice</servlet-name>
        <servlet-class>SaveNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUnpostedNotices</servlet-name>
        <servlet-class>ShowUnpostedNotices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeNotice</servlet-name>
        <url-pattern>/ChangeNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostNotice</servlet-name>
        <url-pattern>/PostNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudent</servlet-name>
        <url-pattern>/RegisterStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveNotices</servlet-name>
        <url-pattern>/RemoveNotices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoeUnpostedNotices</servlet-name>
        <url-pattern>/ShoeUnpostedNotices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNoticeTypes</servlet-name>
        <url-pattern>/ShowNoticeTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNotices</servlet-name>
        <url-pattern>/SaveNotices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNotices</servlet-name>
        <url-pattern>/ShowNotices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNotice</servlet-name>
        <url-pattern>/SaveNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUnpostedNotices</servlet-name>
        <url-pattern>/ShowUnpostedNotices</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
